In [2]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

In [3]:
%load_ext sql

In [4]:
%sql ibm_db_sa://mxl88226:ncm%2B1bzvxn4fljb3@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: mxl88226@BLUDB'

In [5]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')

 * ibm_db_sa://mxl88226:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('MXL88226', 'TEST', datetime.datetime(2021, 6, 6, 8, 51, 7, 841428)),
 ('MXL88226', 'COUTRY', datetime.datetime(2021, 6, 6, 8, 51, 8, 80206)),
 ('MXL88226', 'PETSALE', datetime.datetime(2021, 6, 6, 8, 59, 52, 955613)),
 ('MXL88226', 'PET', datetime.datetime(2021, 6, 6, 8, 59, 53, 191630)),
 ('MXL88226', 'EMPLOYEES', datetime.datetime(2021, 6, 6, 9, 3, 2, 85042)),
 ('MXL88226', 'JOB_HISTORY', datetime.datetime(2021, 6, 6, 9, 3, 2, 616229)),
 ('MXL88226', 'JOBS', datetime.datetime(2021, 6, 6, 9, 3, 3, 115831)),
 ('MXL88226', 'DEPARTMENTS', datetime.datetime(2021, 6, 6, 9, 3, 3, 577430)),
 ('MXL88226', 'LOCATIONS', datetime.datetime(2021, 6, 6, 9, 3, 4, 39460)),
 ('MXL88226', 'PETRESCUE', datetime.datetime(2021, 6, 8, 3, 19, 7, 435718)),
 ('MXL88226', 'INSTRUCTOR1', datetime.datetime(2021, 6, 10, 6, 28, 28, 144073)),
 ('MXL88226', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2021, 6, 10, 7, 5, 11, 316545)),
 ('MXL88226', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2021, 6, 10, 7, 49, 47, 111063)),
 ('MXL88226', 'SCHOOLS', datetime.datetime(2021, 6, 10, 9, 12, 58, 368113))]

In [6]:
%sql select count(*) from SCHOOLS;

 * ibm_db_sa://mxl88226:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [7]:
%sql select colname, tabname,  length from syscat.columns where tabname='SCHOOLS';

 * ibm_db_sa://mxl88226:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('School_ID', 'SCHOOLS', 4),
 ('NAME_OF_SCHOOL', 'SCHOOLS', 65),
 ('Elementary, Middle, or High School', 'SCHOOLS', 2),
 ('Street_Address', 'SCHOOLS', 29),
 ('Average_Teacher_Attendance', 'SCHOOLS', 6),
 ('Individualized_Education_Program_Compliance_Rate', 'SCHOOLS', 7),
 ('Pk_2_Literacy__', 'SCHOOLS', 4),
 ('Pk_2_Math__', 'SCHOOLS', 4),
 ('Gr3_5_Grade_Level_Math__', 'SCHOOLS', 4),
 ('Gr3_5_Grade_Level_Read__', 'SCHOOLS', 4),
 ('Gr3_5_Keep_Pace_Read__', 'SCHOOLS', 4),
 ('Gr3_5_Keep_Pace_Math__', 'SCHOOLS', 4),
 ('Gr6_8_Grade_Level_Math__', 'SCHOOLS', 4),
 ('Gr6_8_Grade_Level_Read__', 'SCHOOLS', 4),
 ('Gr6_8_Keep_Pace_Math_', 'SCHOOLS', 4),
 ('Gr6_8_Keep_Pace_Read__', 'SCHOOLS', 4),
 ('Gr_8_Explore_Math__', 'SCHOOLS', 4),
 ('Gr_8_Explore_Read__', 'SCHOOLS', 4),
 ('ISAT_Exceeding_Math__', 'SCHOOLS', 5),
 ('ISAT_Exceeding_Reading__', 'SCHOOLS', 5),
 ('ISAT_Value_Add_Math', 'SCHOOLS', 3),
 ('ISAT_Value_Add_Read', 'SCHOOLS', 3),
 ('ISAT_Value_Add_Color_Math', 'SCHOOLS', 6),
 ('ISAT_Value_Add_Color_Read', 'SCHOOLS', 6),
 ('Students_Taking__Algebra__', 'SCHOOLS', 4),
 ('Students_Passing__Algebra__', 'SCHOOLS', 4),
 ('9th Grade EXPLORE (2009)', 'SCHOOLS', 4),
 ('9th Grade EXPLORE (2010)', 'SCHOOLS', 4),
 ('10th Grade PLAN (2009)', 'SCHOOLS', 4),
 ('10th Grade PLAN (2010)', 'SCHOOLS', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'SCHOOLS', 3),
 ('11th Grade Average ACT (2011)', 'SCHOOLS', 4),
 ('Net_Change_PLAN_and_ACT', 'SCHOOLS', 3),
 ('College_Eligibility__', 'SCHOOLS', 4),
 ('Graduation_Rate__', 'SCHOOLS', 4),
 ('College_Enrollment_Rate__', 'SCHOOLS', 4),
 ('COLLEGE_ENROLLMENT', 'SCHOOLS', 2),
 ('General_Services_Route', 'SCHOOLS', 2),
 ('Freshman_on_Track_Rate__', 'SCHOOLS', 4),
 ('X_COORDINATE', 'SCHOOLS', 13),
 ('Y_COORDINATE', 'SCHOOLS', 13),
 ('Latitude', 'SCHOOLS', 18),
 ('Longitude', 'SCHOOLS', 18),
 ('COMMUNITY_AREA_NUMBER', 'SCHOOLS', 2),
 ('COMMUNITY_AREA_NAME', 'SCHOOLS', 22),
 ('Ward', 'SCHOOLS', 2),
 ('Police_District', 'SCHOOLS', 2),
 ('Location', 'SCHOOLS', 27),
 ('City', 'SCHOOLS', 7),
 ('State', 'SCHOOLS', 2),
 ('ZIP_Code', 'SCHOOLS', 4),
 ('Phone_Number', 'SCHOOLS', 14),
 ('Link', 'SCHOOLS', 78),
 ('Network_Manager', 'SCHOOLS', 40),
 ('Collaborative_Name', 'SCHOOLS', 34),
 ('Adequate_Yearly_Progress_Made_', 'SCHOOLS', 3),
 ('Track_Schedule', 'SCHOOLS', 12),
 ('CPS_Performance_Policy_Status', 'SCHOOLS', 16),
 ('CPS_Performance_Policy_Level', 'SCHOOLS', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'SCHOOLS', 3),
 ('Safety_Icon', 'SCHOOLS', 11),
 ('SAFETY_SCORE', 'SCHOOLS', 2),
 ('Family_Involvement_Icon', 'SCHOOLS', 11),
 ('Family_Involvement_Score', 'SCHOOLS', 3),
 ('Environment_Icon', 'SCHOOLS', 11),
 ('Environment_Score', 'SCHOOLS', 2),
 ('Instruction_Icon', 'SCHOOLS', 11),
 ('Instruction_Score', 'SCHOOLS', 2),
 ('Leaders_Icon', 'SCHOOLS', 4),
 ('Leaders_Score', 'SCHOOLS', 3),
 ('Teachers_Icon', 'SCHOOLS', 11),
 ('Teachers_Score', 'SCHOOLS', 3),
 ('Parent_Engagement_Icon', 'SCHOOLS', 7),
 ('Parent_Engagement_Score', 'SCHOOLS', 3),
 ('Parent_Environment_Icon', 'SCHOOLS', 7),
 ('Parent_Environment_Score', 'SCHOOLS', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'SCHOOLS', 6),
 ('Rate_of_Misconducts__per_100_students_', 'SCHOOLS', 5)]